.vudash-progress {
  width: 60%;
}

.vudash-progress > .bar {
  border: 4px solid #fff;
  height: 40px;
}

.vudash-progress > .bar > .progress {
  background-color: #fff;
  display: block;
  height: 100%;
}

.vudash-progress > .label {
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}
