<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <title>{{dashboard.name}} Dashboard</title>

  <link rel="stylesheet" href="/static/flexboxgrid/css/flexboxgrid.min.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="/static/semantic-ui-css/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  <style type="text/css">
  {{#each dashboard.widgets}}
    {{#each this}}
      {{{css}}}
    {{/each}}
  {{/each}}
  </style>
</head>
<body>
  {{#each dashboard.widgets}}
  <div class="row">
    {{#each this}}
      <div class="col-xs aligner">
          <div class="box aligner-item">{{{markup}}}</div>
      </div>
      {{/each}}
  </div>
  {{/each}}
  <script src="/static/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/static/semantic-ui-css/semantic.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io('{{serverUrl}}');

    socket.on('error', function(e) {
      console.error('Error.', e);
    });

    {{#each dashboard.widgets}}
      {{#each this}}
        {{{js}}}
      {{/each}}
    {{/each}}
  </script>
</body>

</html>
