<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <title>{{dashboard}} Dashboard</title>

  <link rel="stylesheet" type="text/css" href="/static/semantic-ui-css/semantic.min.css">
  <style type="text/css">
  {{#each dashboard.widgets}}
    {{{css}}}
  {{/each}}
  </style>
</head>
<body>
  <div class="ui padded grid inverted segment">
    <div class="ui four wide center aligned column">
      <div class="ui huge red inverted statistic">
        <div class="value">
          54
        </div>
        <div class="label">
          Visitors
        </div>
      </div>
    </div>
    {{#each dashboard.widgets}}
    <div class="ui {{width}} wide center aligned column">
      {{{markup}}}
    </div>
    {{/each}}
  </div>
  <script type="text/javascript" href="/static/semantic-ui-css/semantic.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io('{{serverUrl}}');

    socket.on('connect', function() {
      console.log('Connected.');
    });

    socket.on('error', function(e) {
      console.error('Error.', e);
    });

    {{#each dashboard.widgets}}
      {{{js}}}
    {{/each}}
  </script>
</body>

</html>
