<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <title>{{dashboard.name}} Dashboard</title>
  <style>
    @import 'https://fonts.googleapis.com/css?family=Ubuntu';
    @import 'https://fonts.googleapis.com/icon?family=Material+Icons';
  </style>
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  <style type="text/css">
  {{#each dashboard.widgets}}
    {{css}}
  {{/each}}
  {{#each dashboard.assets.css}}
    @import url("{{{this}}}") list-of-media-queries;
  {{/each}}
  </style>
  <script src="/assets/generated/jqlite.min.js"></script>
</head>
<body>
  {{#each dashboard.widgets}}
    {{{markup}}}
  {{/each}}
  <script src="/socket.io/socket.io.js"></script>
  <script src="/assets/js/audio.js"></script>
  <script>
    var socket = io('{{serverUrl}}');

    socket.on('error', function(e) {
      console.error('Error.', e);
    });

    socket.on('audio:play', function(data) {
      VUDASH.player.play(data.data);
    });

    {{#each dashboard.widgets}}
      {{{js}}}
    {{/each}}
  </script>
  {{#each dashboard.assets.js}}
    <script src="{{{this}}}"></script>
  {{/each}}
</body>

</html>
