<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <title>Available Boards</title>
  <style>
    @import 'https://fonts.googleapis.com/css?family=Ubuntu';
    @import 'https://fonts.googleapis.com/icon?family=Material+Icons';
  </style>
  <link rel="stylesheet" type="text/css" href="/assets/css/listing.css">
</head>
<body>
  <h1>Vudash <span class="sub-page">Available Boards</span></h1>
  <ul>
    {{#each boards}}
      <li>
        <a href="/{{this.link}}">{{this.name}}</a>
      </li>
    {{/each}}
  </ul>
</body>

</html>
