body {
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
  background-color: #404040;
}

.widget-container {
  position: absolute;
  display: block;
}
.widget-container > * {
  position: relative !important;
  display: block !important;
  margin: auto !important;
  top: 50%;
  transform: translateY(-50%);
}
