body {
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
  overflow: hidden;
  background-color: #000;
}

.widget-container {
  position: absolute;
  display: block;
  box-sizing: border-box;
  background-color: #191919;
  border: 3px solid #000;
  border-radius: 10px;
}

.widget-container > *:first-child {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
}

.widget-container > *:first-child {
    height: 100%;
    width: 100%;
}