.vudash-status > * {
  text-align: center;
}

.vudash-status > .label {
  font-weight: bold;
}

.vudash-status > .label > .updated {
  font-weight: normal;
  font-style: italic;
}

.vudash-status > ul {
  font-size: 20px;
  list-style: none;
  padding: 0;
}

.pips {
    text-align: justify;
    min-width: 100%;
}
.pips:after {
    content: '';
    display: inline-block;
    width: 100%;
}
.pips li {
    display: inline-block;
    border: 10 dotted #fff;
}

.pips > li > i.major-outage, .pips > li > i.unknown {
  color: red;
}

.pips > li > i.minor-outage, .pips > li > i.degraded {
  color: yellow;
}

.pips > li > i.healthy {
  color: red;
}