.vudash-status > * {
  text-align: center;
}

.vudash-status > .label {
  font-weight: bold;
}

.vudash-status > .label > .updated {
  font-weight: normal;
  font-style: italic;
}

.vudash-status > ul {
  font-size: 14px;
}