.vudash-github > * {
  text-align: center;
}

.vudash-github > .label {
  font-weight: bold;
}

.vudash-github > .label > .updated {
  font-weight: normal;
  font-style: italic;
}

.vudash-github > .value > i {
  font-size: 76px;
}
