.gauge {
  width: 200px;
  height: 100px;
  position: relative;
  overflow: hidden;
}

.inner {
  width: 200px;
  height: 100px;
  display: block;
  background-color: #444444;
  border-radius: 200px 200px 0 0;
  z-index: 1;
}
.inner:after {
  content: '';
  width: 120px;
  height: 60px;
  top: 40px;
  left: 40px;
  background-color: #2a2a2a;
  border-radius: 200px 200px 0 0;
  position: absolute;
  z-index: 3;
}

.spinner {
  width: 200px;
  height: 100px;
  background-color: #70b37d;
  position: absolute;
  z-index: 2;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 800ms ease;
  transition: -webkit-transform 800ms ease;
  transition: transform 800ms ease;
  transition: transform 800ms ease, -webkit-transform 800ms ease;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  border-radius: 0 0 200px 200px;
}
.spinner.alt {
  background-color: #e14e54;
}

.gauge-cont {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 100px;
  margin-left: 30px;
}
.gauge-cont:first-child {
  margin: 0;
}

.pointer {
  display: block;
  width: 6px;
  height: 105px;
  background-color: #fff;
  border-radius: 4px 4px 0 0;
  position: absolute;
  z-index: 4;
  bottom: 0px;
  left: 97px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-transition: -webkit-transform 800ms ease;
  transition: -webkit-transform 800ms ease;
  transition: transform 800ms ease;
  transition: transform 800ms ease, -webkit-transform 800ms ease;
}

.pointer-knob {
  width: 20px;
  height: 20px;
  background-color: #fff;
  position: absolute;
  left: 90px;
  bottom: -10px;
  z-index: 5;
  border-radius: 20px;
}
