body {
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
  background-color: #292929;
}

.widget-container {
  position: absolute;
  display: block;
  box-sizing: border-box;
  border: 2px solid #393939;
}

.widget-container > * {
  position: relative !important;
  display: block !important;
  margin: auto !important;
  top: 50%;
  transform: translateY(-50%);
}
